<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/account.css">
</head>

<body style="height: 100%; margin: 0">
    <a href="/logout">
        <div class="logout">
            Đăng xuất
        </div>
    </a>
    <div class="logout check-on">
        <span>{{change user.on}}</span> 
    </div>


    <div class="info">
        <h1>Thông tin tài khoản</h1>
        <form action="/information/change" method="post">
            <div class="label account">
                <p>Tên tài khoản:</p>
                <input type="text" value="{{user.account}}" name="account" disabled="true">
            </div>
            <div class="label password">
                <p>Mật khẩu:</p>
                <input type="password" value="{{user.password}}" name="password">
            </div>
            <div class="label name">
                <p>Tên người dùng:</p>
                <input type="text" value="{{user.username}}" name="username">
            </div>
            <div class="label machinecode">
                <p>Mã thiết bị:</p>
                <input type="text" value="{{user.id}}" disabled>
            </div>
            <button type="submit">Chỉnh sửa</button>
            <h4></h4>
        </form>
    </div>
    <div class="warning info">
        <h1>Lịch sử cảnh báo</h1>
        <h3>Cảnh báo cháy nổ</h3>
        <div class="warning-fire border">
        </div>
        <h3>Cảnh báo rò rỉ gas</h3>
        <div class="warning-gas border">
        </div>
        <h3>Cảnh báo nhiệt độ</h3>
        <div class="warning-hot border">
        </div>
    </div>
</body>
<script src="/js/account.js"></script>

</html>